<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/FORM/reportish_icon.png">
    <title>Download</title>

    <style>
    body {
        background-image: url("static/FORM/back2.png");
    }
    </style>
</head>
<body>
    <center>
        <div><img src="/static/FORM/reportish.png" height="100px" width="330px"></div> <br>
        <h1>
            
        </h1>
    </center>
    
</body>
</html>